.outer-div {
    display: flex;
    flex-direction: column;
    width: 700px;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: white;
    min-height: 100vh;
}
.subtitle {
    color: gray;
}
.graphics-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
hr {
    height: 1px;
    width: 100px;
    background-color: gray;
}
.circle-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
.phase-name-div {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
}
.phase {
    padding: 0;
    margin-top: 0;
    width: 50px;
    height: auto;
    font-size: 12px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-outer {
    margin: 50px 70px;
}
.form-class {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 25px;
}
input {
    margin-top: 5px;
    border: none;
    height: 50px;
    background-color:#d3d3d3;
    padding-left: 15px;
}
button {
    border: .5px solid #d3d3d3;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}
.button-class {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    
}
.next-button {
    margin-left: 10px;
    background-color: #24a0ed;
}